.main-chat
  .main-header
    .main-header__group-list
      = @group.name
      %ul.main-header__member-list
        Member :
        %li.main-header__member-name 
          - @group.users.each do |user|
            =user.name
    = link_to edit_group_path(@group), class: "main-chat__edit-btn" do
      Edit
  
  .main-contents
    = render @messages

  .main-footer
    = form_with model: [@group, @message], html: {class: "form-groups"}, local: true do |f|
      .input-form
        = f.text_field :content, class: "input-form__text", placeholder: "type a message" 
        = f.label :image, class: "input-form__image" do
          = icon("fas", "image", class: "input-form__icon")
          = f.file_field :image, class: "input-form__image__file" 
      = f.submit "Send", class: "form-groups__send-btn"
          



